<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mx.edu.utng.projectajax">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@drawable/and"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".EntrarActividad"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"></activity>

        <activity android:name=".ListarModulo"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".ListarUnModulo"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".audios.AudioActividad"></activity>
        <activity android:name=".VideoActividad"></activity>
        <activity android:name=".Desarrollador"></activity>
        <activity android:name=".quiz.QuizActivity"></activity>\
        <activity android:name=".quiz.QuizActivity1"></activity>
        <activity android:name=".quiz.QuizActivity2"></activity>
        <activity android:name=".quiz.QuizActivity3"></activity>
        <activity android:name=".quiz.QuizActivity4"></activity>
        <activity android:name=".quiz.QuizActivity5"></activity>
        <activity android:name=".quiz.ResultActivity"></activity>
        <activity android:name=".juegotest.TresEnRaya"></activity>
        <activity android:name=".gato.Juego"></activity>
        <activity android:name=".gato.JuegoCpu"></activity>
        <activity android:name=".gato.AcercaDe"></activity>
        <activity android:name=".audios.AudioActividad1"></activity>
        <activity android:name=".audios.AudioActividad2"></activity>
        <activity android:name=".audios.AudioActividad3"></activity>
        <activity android:name=".audios.AudioActividad4"></activity>
        <activity android:name=".audios.AudioActividad5"></activity>
        <activity android:name=".audios.AudioCompActividad"></activity>
        <activity android:name=".Calculadora"></activity>
        <activity android:name=".agenda.AcercaDeAg"></activity>
        <activity android:name=".agenda.AgendaFinalActivity"></activity>
        <activity android:name=".agenda.NoteEdit"></activity>
        <activity android:name=".agenda.Notepad"></activity>
        <activity android:name=".adivinalapalabra.Preferencias"></activity>
        <activity android:name=".adivinalapalabra.AcercaDePa"></activity>
        <activity android:name=".adivinalapalabra.Juego_Palabras"></activity>
        <activity android:name=".InicioActivity"></activity>
        <activity android:name=".adivinalapalabra.Puntuaciones"></activity>
        <activity android:name=".CorreoActivity"></activity>
        <activity android:name=".MaterialDinamicoActivity"></activity>


        <activity android:name=".MyActivity"></activity>
        <activity android:name=".AgregarCalificacion"></activity>
        <activity android:name=".ModificarCalificacion"></activity>
        <activity android:name=".MainGrafActivity"></activity>
        <activity android:name=".LoginActividad"></activity>
        <activity android:name=".SignUp"></activity>





        <activity
            android:name=".RapidTest"
            android:label="@string/title_activity_rapid_test" >

        </activity>
        <activity
            android:name=".juegotest.AcercaDeTest"
            android:label="@string/acercade"
            android:theme="@android:style/Theme.Dialog">
        </activity>

        <activity
            android:theme="@android:style/Theme.Dialog"
            android:label="@string/configuration"
            android:name=".juegotest.Configuracion">
        </activity>
        <activity android:name=".PuntuacionesTest" android:label="@string/ranking" android:theme="@android:style/Theme.Dialog"></activity>
        <activity android:label="@string/play" android:name=".JuegoTest" android:theme="@android:style/Theme.NoTitleBar.Fullscreen"></activity>
        <activity android:name=".PideNombre" android:theme="@android:style/Theme.Dialog" android:label="@string/titlePideNombre"></activity>



        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"></activity>
    </application>

</manifest>
